body {
	margin: 0;
}

.wrapper {
	margin: 0 auto;
}

.container {
	margin: 0 auto;
	width: 100%;
	text-align: center;
}

.link {
	position: absolute;
	top: 2800px;	
	margin-left: 100px;
	color: #4578b7;
	font-family: Helvetica, Arial, Sans-serif;
	font-size: 2em;
}

.neish {
	width: 100%;
	height: auto;
	background-image: url('../img/Neish_Visual-Identity-Pres_2.jpg');
	background-size: cover;
}